/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;
    display:flex;
  }

h2{
     font-size: medium;
}


.nav-left {
    
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }



  .nav-left h2:hover {
    background-color: white;
  } */

 


  