
h2{
     font-size: medium;
}


.nav-left {
    justify-content: start;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }


 


  