body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(73, 80, 83);
  color: #fff;
  line-height: 1.6;
  display: flex;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: grey;
}

.cards {
  display: flex;

  /* Put a card in the next row when previous cards take all width */
  flex-wrap: wrap;

  margin-left: -8px;
  margin-right: -8px;
  border: 2px solid black;
  width: 400px;
  height: 300px;
}

.cards__item {
  /* There will be 4 cards per row */
  flex-basis: 25%;

  padding-left: 8px;
  padding-right: 8px;
}

.countdown-timer {
  width: 300px;
  height: 50px;

  font-family: "Oswald";
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-timer span {
  margin-left: 5px;
  margin-right: 5px;
}

.two-numbers {
  width: 0.8ch;
}

.auction-List{
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.nav {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}
.nav_container{
  display: flex;
  align-items: flex-end;
  
}

.password, .email{
  margin-bottom: 10px; 
}
.label, .bidlabel {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.submit{
  width: 150px;
  margin-left: 150px;
}
.title{
  margin-left: 150px;
}
.new_auction{
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.bidlabel{
  margin-top: 3px;
}

.delivery-form{
  margin-left: 7px;
}
#deliverycost{
  float: right;
}
.navbar{
	width: 100%;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  
}
.card-img-top{
  max-height: 20vh; 
  object-fit: contain;
}
.auctions{
  margin: 8px;
}