html, body {
  font-family: "Poppins", sans-serif;
  color:white;
  height: 100%;
  margin: 0;
  position: relative;
  background: -webkit-radial-gradient(#222233, #0A2742);
  background: radial-gradient(#222233, #0A2742);
}
.btn-outline-dark{
  margin-right: 2vw;
}

a{
  text-decoration: none;
  color: Black;
}

a:hover{
  color:grey;
}

/*Countdown*/
.countdown-timer {
  width: 300px;
  height: 50px;
  align-items: center;
  float: right;
}

.countdown-timer span {
  margin-left: 5px;
  margin-right: 5px;
}

.two-numbers {
  width: 0.8ch;
}

/*new Auction*/
.new_auction{
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
  margin-top: 7vh;
}
#textArea.form-control{
  width: 28vw;
}

/*delivery*/
.delivery-form{
  margin-left: 7px;
}
#deliverycost{
  margin-left: 4vw;
}
.deliver{
  width: 28vw;
}
.deliveryform{
  margin-top: 7vw;
}


/*Signup*/
.signUpForm, .loginForm{
  width: 20vw;
  margin-top: 7vh;
}


/*Auctions*/
.card-img-top{
  max-height: 20vh; 
  object-fit: contain;
  margin-top: 2vh;
}
.card{
  margin-top: 3vh;
  left      : 25vw;
  position  : relative;
  transition: transform .2s;
  color: grey;
}
.card:hover{
  transform: scale(1.2);
  color: black;
}
.btn-primary{
  background-color: grey;
  border-color: grey;
  margin-top: 2vh;
  vertical-align: middle;
}
.btn-primary:hover{
  background-color: grey;
  border-color: white;
}

.about{
  margin-top: 7vh;
  margin-left: 5vw;
}


/*Profile auctions*/
.row-wrapper{
  margin-top: 5vh;
  padding: 0.5em 1em;
}
.imglst{
  width: 40PX;
  float: right;
}
.list-group-item{
  background-color: transparent;
  margin-top: 1vh;
  transition: transform .2s;
  border: 0px;
  color: white;
  padding-left: 0;
}
.list-group-item:hover{
  transform: scale(1.2);
}
.myAuctions{
  width: 35vw;
  margin-left: 7vw;
}

/*Search*/
.searchimg{
  width: 2vw;
}
.searchproduct{
  color: white;
}
